<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head')%>
    <link href="../../../public/styles/reset.css" rel="stylesheet" type="text/css"/></head>
    <link href="../../../public/styles/base.css" rel="stylesheet" type="text/css"/></head>
<body>

    <%- include('../../layout/header')%>

    <main>
        <legend>Search by Title or Author</legend>
        <form action="/searches" method="post">
            <input type="text" name="searched">
            <br>
            <label class="filterLabel"><input type="radio" name="searchFilter" value="title">Title</label>
            <br>
                        
            <label class="filterLabel"><input type="radio" name="searchFilter" value="author">Author</label>
            <br>
            <button type="submit">Search the Google Books API</button>
        </form>
    </main>

    <%- include('../../layout/footer')%>
    
</body>
</html>