<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link href="../../../public/styles/reset.css" rel="stylesheet" type="text/css"/></head>
    <link href="../../../public/styles/base.css" rel="stylesheet" type="text/css"/></head>
<body>
    <header>
        <h1>Best Books!</h1>
    </header>
    <main>
        <legend>Search by Title or Author</legend>
        <form action="/searches" method="post">
            <input type="text" name="searched">
            <br>
            <label class="filterLabel"><input type="radio" name="searchFilter" value="title">Title</label>
            <br>
                        
            <label class="filterLabel"><input type="radio" name="searchFilter" value="author">Author</label>
            <br>
            <button type="submit">Search the Google Books API</button>
        </form>


    </main>
    <footer>

    </footer>


    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>    
</body>
</html>