<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <link href= "/public/app.css" rel="stylesheet" type="text/css" /> -->
    <link href="./public/styles/base.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <h1>Hello World!</h1>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/searches/new">Book search</a></li>
        </nav>
        

    </header>

    <main>

    </main>

    <footer>

    </footer>

   
</body>
</html>